{% extends 'layouts/base1_search.html' %} {% load static %} {% block content %}
<main class="searcher-page__body">
  <h1 class="searcher-page__title">Buscador de mascotas</h1>
  <section>
    <form class="pet-searcher" action="{% url 'search_pets' %}" method="get">
      <div class="pet-searcher__field" id="specie-container">
        <legend id="specie-legend">Especie de la mascota</legend>
        <div id="specie-div">
          <label for="dog-specie">
            <input
              type="radio"
              id="dog-specie"
              name="species"
              value="Perro"
              required
              checked
            />
            <span class="dog-specie"></span>
          </label>

          <label for="cat-specie">
            <input type="radio" id="cat-specie" name="species" value="Gato" />
            <span class="cat-specie"></span>
          </label>
        </div>
      </div>

      <div class="pet-searcher__field pet-searcher__field--button">
        <legend>Que sea...</legend>
        <div>
          <label for="male-pet">
            <input
              type="radio"
              value="Macho"
              id="male-pet"
              name="gender"
              checked
            />
            <span class="male-pet">Macho</span>
          </label>

          <label for="female-pet">
            <input type="radio" value="Hembra" id="female-pet" name="gender" />
            <span class="female-pet">Hembra</span>
          </label>
        </div>
      </div>

      <div class="pet-searcher__field">
        <legend>De tamaño...</legend>
        <div class="check-container">
          <div>
            <label class="checkfield" for="small">
              <input type="radio" id="small" name="size" value="Pequeño" />
              <span class="checkmark"></span>
            </label>
            <span class="check-text">Pequeño</span>
          </div>

          <div>
            <label class="checkfield" for="middle">
              <input
                type="radio"
                id="middle"
                name="size"
                value="Mediano"
                checked
              />
              <span class="checkmark"></span>
            </label>
            <span class="check-text">Mediano</span>
          </div>

          <div>
            <label class="checkfield" for="large">
              <input type="radio" id="large" name="size" value="Grande" />
              <span class="checkmark"></span>
            </label>
            <span class="check-text">Grande</span>
          </div>
        </div>
      </div>

      <p class="emo-phrase">Lo más importante es que lo puedas cuidar y amar</p>

      <div class="btn-div">
        <a
          class="search-button search-button--secondary"
          href="{% url 'view_all_pets' %}"
        >
          Ver todos
        </a>

        <button class="search-button" type="submit" name="submit">
          Buscar
        </button>
      </div>
    </form>
  </section>
</main>
{% endblock content %}
