{% extends 'layouts/base1_search.html' %} {% load static %} {% block content %}
<main>
    <section class="visit-info-container">
        <article class="visit-info-title">
            <h1>Programación de visita</h1>
            <p class="">{{pet.name}} te espera...</p>
            <img
                src="../../../media/{{pet.photos}}"
                alt="mascota a ser visitada"
            />
        </article>

        {% comment %}
        <article class="available-dates">
            <div class="available-dates__week">
                <img
                    src="../img/days-free__visit-date.svg"
                    alt="dias disponibles"
                />
            </div>
            <div class="available-dates__clock">
                <img src="../img/free-clock__visit-date.svg" alt="clock icon" />
            </div>
        </article>
        {% endcomment %}

        <article class="shelter-location">
            <div class="shelter-location__address">
                <img
                    src="{% static 'img/gps-icon__visit-date.svg' %}"
                    alt="gps icon"
                />
                <div>
                    <p>En: {{pet.user.shelter_name}}</p>
                    <p>{{pet.user.address}}</p>
                </div>
            </div>
            <p class="shelter-location__promo">Para tu visita tendrás:</p>
            <div class="shelter-location__links">
                <div id="googleMapsBtn">
                    <img
                        src="{% static 'img/google maps.svg' %}"
                        alt="google maps icon"
                    />
                    <span>Ubicación en Google Maps</span>
                </div>
                <div id="whatsAppBtn">
                    <img
                        src="{% static 'img/whatsapp.svg' %}"
                        alt="whatsapp icon"
                    />
                    <span>Un grupo de WhatsApp</span>
                </div>
            </div>
        </article>
    </section>

    <section class="go-visit">
        <div class="results__cta">
            <button
                type="submit"
                id="confirmVisit"
                onclick="window.location.href='{% url 'thanks_visit' pet.id %}'"
            >
                Confirmar visita
            </button>
        </div>
        <button
            class="results__cta--secondary"
            id="visitThanksHome"
            onclick="window.location.href='{% url 'search_form'%}'"
        >
            Volver al inicio
        </button>
    </section>
</main>
{% endblock content %}
